body {
    background-color:bisque;
    font-family: sans-serif;
}

nav {
    overflow: hidden;
    justify-content: space-between;
    display: flex;
    
}
.same-class {
    flex: 1;
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    font-size: 25px;
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
    
}
label{
    position: relative;
    display: inline-block;
}

.invalid-data {
    position: absolute;
    top: 100%;
    color: aqua;
    font-size: 0.8em;

}
.delete-form{
    display: inline-block;
}
a{
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}
a:hover{
    color: blue;
}